* {
  font-family: 'Noto Sans', sans-serif;
  color: #f2f2f2;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  background-color: #333;
}

h3.section {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: 'Futura', sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

/**
 * Left side
 */
div#left {
  position: absolute;
  top: 0;
  left: 0;
  width: 245px;
  padding: 10px;
}

div.slider-wrapper {
  width: 100%;
  padding-top: 26px;
  padding-left: 85px;
  text-align: center;
}

div#percentage-value {
  text-align: right;
  margin-top: 5px;
  font-size: 16px;
  width: 55px;
}

/**
 * Right side
 */
div#right {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  padding-top: 10px;
}

select#current-apps {
  margin: 20px 0;
  width: 200px;
  height: 140px;
  font-size: 14px;
  background: #333;
  overflow: auto;
}
option {
  margin: 2px 0;
  padding: 2px 4px;
}

button {
  padding: 8px;
  width: 140px;
  font-size: 13px;
  background: #333;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background: #444;
}
button:active {
  background: #bbb;
}

/**
 * Slider styling
 */
div#battery-node {
  border: 3px solid #ffffff;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #ffffff;
  margin-left: 25px;
  width: 10px;
  height: 3px;
}
div.slider {
  width: 60px;
  height: 158px;
  background-color: #7ff21c;
  border: 3px solid #ffffff;
  border-radius: 13px;
  box-shadow: inset 0 0 0px 4px #333;
}

input[type=range] {
  -webkit-appearance: none;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: top left;
  margin: 138px 6px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 64px;
  width: 4px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #7ff21c;
}
